<li>
    <span style="font-weight:bold">Student ID: </span>
    <span id="stu-name">{{this.student_id}}</span>
</li>
<li><span style="font-weight:bold">School Name: </span>{{this.school_name}}</li>
<li><span style="font-weight:bold">School District: </span>{{this.district.district_name}}</li>
<li><span style="font-weight:bold">Current Year: </span>{{this.current_year}}th Grade</li>
<li><span style="font-weight:bold">Current Math Credit(s): </span>{{this.current_math_credits}}</li>
<li><span style="font-weight:bold">Required Math Credit(s):
    </span>{{this.district.math_credit_to_graduate}}</li>
<li><span style="font-weight:bold">Ready to Graduate?: </span>
    {{#if this.has_math_credits}}
    <span style="color: green">Yes!</span>
    {{else}}
    <span style="color: red">No.</span>
    {{/if}}
</li>