<div class="col-md-6">
    <h2>Edit {{student.student_name}}'s Profile</h2>

    <form class="form" id="stu-data">
        <div class="form-group">
            <label for="stu-name">Name:<span style="color:red">*</span></label>
            <input class="form-input" type="text" id="stu-name" value="{{student.student_name}}" />
        </div>

        <div class="form-group">
            <label for="stu-id">Student ID#:<span style="color:red">*</span></label>
            <input class="form-input" type="text" id="stu-id" value="{{student.student_id}}" />
        </div>

        <div class="form-group">
            <label for="district">District:<span style="color:red">*</span></label>
            <select id="district" value="{{student.district.district_name}}">
                {{#each districts}}
                    <option value="{{id}}">{{district_name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="school">School Name:<span style="color:red">*</span></label>
            <input class="form-input" type="text" id="school" value="{{student.school_name}}" />
        </div>

        <div class="form-group">
            <label for="year">Current Year:<span style="color:red">*</span></label>
            <select id="year" value="{{student.current_year}}">
                <option value='9'>9th</option>
                <option value='10'>10th</option>
                <option value='11'>11th</option>
                <option value='12'>12th</option>
            </select>
        </div>

        <div class="form-group">
            <label for="math">Current Math Credit(s):<span style="color:red">*</span></label>
            <input class="form-input" type="text" id="math" value="{{student.current_math_credits}}" />
        </div>

<div class="form-group">
      <label for="math">Current English Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="eng" value="{{student.current_english_credits}}" />
    </div>

    <div class="form-group">
      <label for="math">Current Science Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="sci" value="{{student.current_science_credits}}" />
    </div>

    <div class="form-group">
      <label for="math">Current Social Studies Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="ss" value="{{student.current_social_studies_credits}}" />
    </div>

    <div class="form-group">
      <label for="math">Current Physical Education Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="pe" value="{{student.current_pe_credits}}" />
    </div>

    <div class="form-group">
      <label for="math">Current Health Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="health" value="{{student.current_health_credits}}" />
    </div>

    <div class="form-group">
      <label for="math">Current Elective Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="elective" value="{{student.current_elective_credits}}" />
    </div>


        <p>Click on the "Choose File" button to upload an image for the student:</p>
    <form action="/action_page.php">
      <input type="file" id="profile" name="filename">
    </form>


{{!-- WORKS BUT LOTS OF ERRORS --}}
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      var picture;
      
      var myWidget = cloudinary.createUploadWidget({
        cloudName: 'dxhp3w7sg',
        uploadPreset: 'h2bkr71w'
      }, (error, result) => {
        if (!error && result && result.event === "success") {
          console.log('Done! Here is the image info: ', result.info);

          picture = result.info.secure_url
          console.log(picture);
        }
        console.log('ERRRRRR', error)
      })
      document.getElementById("profile").addEventListener("click", function (event) {
        event.preventDefault()
        console.log('UPload image clicked!!!')
        myWidget.open();
      }, false);
    </script><br>
{{!-- end of script --}}


        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="edit-btn">Edit Student</button>
        </div>

    </form>
    <a href="/student/{{student.id}}"><button class="btn btn-secondary">Back to
            {{student.student_name}}'s Profile</button></a>
</div>

<script src="/js/edit-student.js"></script>
{{!-- 
<script src="/js/img-upload.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js"></script> --}}