<div class="col-md-6">
    <h2>Edit {{district.district_name}}'s Profile</h2>

    <form class="form" id="district-data">
        <div class="form-group">
            <label for="district-name">District Name:<span style="color:red">*</span></label>
            <input class="form-input" type="text" id="district-name" value="{{district.district_name}}" />
        </div>

        <div class="form-group">
            <label for="math">District Math Requirement: <span style="color:red">*</span></label>
            <input class="form-input" type="text" id="math" value="{{district.math_credit_to_graduate}}" />
        </div>

        <div class="form-group">
            <label for="math">District English Requirement: <span style="color:red">*</span></label>
            <input class="form-input" type="text" id="english" value="{{district.english_credit_to_graduate}}" />
        </div>

        <div class="form-group">
            <label for="math">District Science Requirement: <span style="color:red">*</span></label>
            <input class="form-input" type="text" id="science" value="{{district.science_credit_to_graduate}}" />
        </div>

        <div class="form-group">
            <label for="math">District Social Studies Requirement: <span style="color:red">*</span></label>
            <input class="form-input" type="text" id="ss" value="{{district.social_studies_credit_to_graduate}}" />
        </div>

        <div class="form-group">
            <label for="math">District Physical Education Requirement: <span style="color:red">*</span></label>
            <input class="form-input" type="text" id="pe" value="{{district.pe_credit_to_graduate}}" />
        </div>

        <div class="form-group">
            <label for="math">District Health Requirement: <span style="color:red">*</span></label>
            <input class="form-input" type="text" id="health" value="{{district.health_credit_to_graduate}}" />
        </div>

        <div class="form-group">
            <label for="math">District Electives Requirement: <span style="color:red">*</span></label>
            <input class="form-input" type="text" id="elective" value="{{district.elective_credit_to_graduate}}" />
        </div>

        <div class="form-group">
            <button class="btn btn-success" id="edit-btn">Confirm Changes</button>
        </div>

    </form>
    <a href="/district/{{district.id}}"><button class="btn btn-secondary">Back to
            {{district.district_name}}'s Profile</button></a>
    <a href="/district" class=" d-flex" style="margin: 20px"><button class="btn btn-secondary">Back to
        Districts</button></a>
</div>

<script src="/js/edit-district.js"></script>