<h2>{{student.student_name}}'s' Profile</h2>

{{!-- IF WE HAD A PIC, HIS PIC WOULD GO HERE --}}

<ul>
    <li>Student ID: {{student.student_id}}</li>
    <li>School Name: {{student.school_name}}</li>
    <li>School District: {{student.district.district_name}}</li>
    <li>Current Year: {{student.current_year}}th Grade</li>
    <li>Current Math Credit(s): {{student.current_math_credits}}</li>
    <li>Required Math Credit(s): {{student.district.math_credit_to_graduate}}</li>
    <li>Current English Credit(s): {{student.current_english_credits}}</li>
    <li>Required English Credit(s): {{student.district.english_credit_to_graduate}}</li>
    <li>Current Science Credit(s): {{student.current_science_credits}}</li>
    <li>Required Science Credit(s): {{student.district.science_credit_to_graduate}}</li>
    <li>Current Social Studies Credit(s): {{student.current_socialStudies_credits}}</li>
    <li>Required Social Studies Credit(s): {{student.district.socialStudies_credit_to_graduate}}</li>
    <li>Current PE Credit(s): {{student.current_pe_credits}}</li>
    <li>Required PE Credit(s): {{student.district.pe_credit_to_graduate}}</li>
    <li>Current Health Credit(s): {{student.current_health_credits}}</li>
    <li>Required Health Credit(s): {{student.district.health_credit_to_graduate}}</li>
    <li>Current Elective Credit(s): {{student.current_elective_credits}}</li>
    <li>Required Elective Credit(s): {{student.district.elective_credit_to_graduate}}</li>
    <li>Ready to Graduate?: 
        {{#if student.has_math_credits}}
        Yes!
        {{else}}
        No.
        {{/if}}
    </li>
</ul>
