<div>
    <h2 style="text-align: center;">{{student.student_name}}'s Profile</h2>
<h3 style="text-align:center; font-size:large"><span style="font-weight:bold">Ready to Graduate?: </span>
                {{#ge student.current_math_credits student.district.math_credit_to_graduate 
                student.current_english_credits student.district.english_credit_to_graduate 
                student.current_science_credits student.district.science_credit_to_graduate 
                student.current_social_studies_credits student.district.social_studies_credit_to_graduate 
                student.current_pe_credits student.district.pe_credit_to_graduate 
                student.current_health_credits student.district.health_credit_to_graduate 
                student.current_health_credits student.current_elective_credits 
                student.district.elective_credit_to_graduate}}{{/ge}}
            {{!-- CHANGE THIS --}}
            </h3>

    <div class="d-flex justify-content-center" style="margin-top: 20px">
        <div class="d-flex flex-column align-items-center">
            <img src="../assets/{{student.picture}}" alt="{{student.student_name}}'s profile head"
                style="height:250px; width:230px; border:solid;" /><br>
        <ul style="list-style-type: none; padding-left:0">
            <li><span style="font-weight:bold">Student ID: </span>{{student.student_id}}</li>
            <li><span style="font-weight:bold">School Name: </span>{{student.school_name}}</li>
            <li><span style="font-weight:bold">School District: </span>{{student.district.district_name}}</li>
            <li><span style="font-weight:bold">Current Year: </span>{{student.current_year}}th Grade</li>
        </ul>
        </div>

        <ul id="stu-data">
            <li><span style="font-weight:bold">Current Math Credit(s): </span>{{student.current_math_credits}}</li>
            <li style="list-style-type: none;"><span style="font-weight:bold">Required Math Credit(s):
                </span>{{student.district.math_credit_to_graduate}}</li>
            <li><span style="font-weight:bold">Current English Credit(s): </span>{{student.current_english_credits}}</li>
            <li style="list-style-type: none;"><span style="font-weight:bold">Required English Credit(s):
                </span>{{student.district.english_credit_to_graduate}}</li>
            <li><span style="font-weight:bold">Current Science Credit(s): </span>{{student.current_science_credits}}</li>
            <li style="list-style-type: none;"><span style="font-weight:bold">Required Science Credit(s):
                </span>{{student.district.science_credit_to_graduate}}</li>
            <li><span style="font-weight:bold">Current Social Studies Credit(s): </span>{{student.current_social_studies_credits}}</li>
            <li style="list-style-type: none;"><span style="font-weight:bold">Required Social Studies Credit(s):
                </span>{{student.district.social_studies_credit_to_graduate}}</li>
            <li><span style="font-weight:bold">Current Physical Education Credit(s): </span>{{student.current_pe_credits}}</li>
            <li style="list-style-type: none;"><span style="font-weight:bold">Required Physical Education Credit(s):
                </span>{{student.district.pe_credit_to_graduate}}</li>
            <li><span style="font-weight:bold">Current Health Credit(s): </span>{{student.current_health_credits}}</li>
            <li style="list-style-type: none;"><span style="font-weight:bold">Required Health Credit(s):
                </span>{{student.district.health_credit_to_graduate}}</li>
            <li><span style="font-weight:bold">Current Elective Credit(s): </span>{{student.current_elective_credits}}</li>
            <li style="list-style-type: none;"><span style="font-weight:bold">Required Elective Credit(s):
                </span>{{student.district.elective_credit_to_graduate}}</li>
        </ul>
    </div>
</div>

<!--Buttons-->
<div style="text-align: center">
    <a href="/edit-student/{{student.id}}"><button type="button" class="btn btn-success btn-lg"
            style="margin-top: 5px; margin-right: 5px">Edit Student</button></a>

    <button class="btn btn-danger btn-lg" style="margin-top: 5px; margin-right: 5px" id="delete-stu">Delete
        Student</button>

    <a href="/student"><button class="btn btn-secondary btn-lg" style="margin-top: 5px;">Back to Students</button></a>
</div>

<script src="/js/delete-student.js"></script>