<div>
    <h2 style="text-align: center;">{{student.student_name}}'s Profile</h2>

    <div class="d-flex justify-content-center" style="margin-top: 20px">
        <div class="d-flex flex-column">
            <img src="../assets/{{student.picture}}" alt="{{student.student_name}}'s profile head" style="height:250px; width:230px; border:solid" /><br>
        </div>

        <ul id="stu-data">
            <li><span style="font-weight:bold">Student ID: </span>{{student.student_id}}</li>
            <li><span style="font-weight:bold">School Name: </span>{{student.school_name}}</li>
            <li><span style="font-weight:bold">School District: </span>{{student.district.district_name}}</li>
            <li><span style="font-weight:bold">Current Year: </span>{{student.current_year}}th Grade</li>
            <li><span style="font-weight:bold">Current Math Credit(s): </span>{{student.current_math_credits}}</li>
            <li><span style="font-weight:bold">Required Math Credit(s):
                </span>{{student.district.math_credit_to_graduate}}</li>
            <li><span style="font-weight:bold">Ready to Graduate?: </span>
                {{#ge student.current_math_credits student.district.math_credit_to_graduate}}{{/ge}}
            </li>
            <br>

        </ul>
    </div>
</div>

<div style="text-align: center">
<a href="/edit-student/{{student.id}}">
                <button type="button" class="btn btn-success btn-lg" style="margin-top: 5px; margin-right: 5px">Edit Student</button>
            </a>

<button class="btn btn-danger btn-lg" style ="margin-top: 5px; margin-right: 5px" id="delete-stu">Delete Student</button>

<a href="/student"><button class="btn btn-secondary btn-lg" style ="margin-top: 5px;">Back to Students</button></a>

</div>

<script src="/js/delete-student.js"></script>